#navigation {
	left: 20px;
	top: 70px;
	position: absolute;
	font-size: 15px;	
}

#navigation ul.navigation li {
	background-color:#3163CE;
	line-height: 30px;
	height: 30px;
	background-repeat: no-repeat;
}
#navigation ul.navigation li a{
	line-height: 30px;
	height: 30px;
	background-position: top right;
	background-repeat: repeat-x;
	font-weight: bold;
	display: block;
	width: auto !important;
	width: 50px;
	text-align: center;
	padding-right: 10px;
	white-space: nowrap;
}
#navigation ul.navigation li.active {
	background-color: #C0C0C0;
	font-size: 1em;
}
#navigation ul.navigation li.active a{
	background-color: #C0C0C0;
	color: #333333;
	font-style:normal;
	font-weight: bold;
}
ul.navigation {
	margin: 0px;
	padding-left:0px;
	padding: 0px;
	display: inline;
}
ul.navigation li {
	margin:0px;
	list-style: none;
	display:block;
	float:left;
	padding:0px;
	padding-left:10px;
	margin-right:5px;
}
/* in-page tab navigation */
.navigation a, .navigation a:link, .navigation a:visited {
	color: #ffffff;background-color:#3163CE;text-decoration:none;font-size:15px
}
.navigation a:hover{color:red}
/* .marginlttp{position:absolute;left:300px;top: 20px;padding-bottom:100px;}*/
.marginlttp{float:right;padding-top:5px;padding-right:10px}
.marque{font-size:15px;font-weight:bold;background-color:#FFCCFF;color:#CC00CC}
.hrule{background:url(../images/blue_strip_small.png) left top repeat-x;padding-top:50px;border:grey 2px solid; border-radius: 15px;height:40px}
#contentBodynew {
	position:absolute;
	top:150px;
}

#errorExplanation {
  width: 70%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul {
  font-size: 12px;
  list-style: square;
  margin-top:15px;
  padding:0px;
}

#errorExplanation li {
	margin-left:18px;

}
.text_feld_area{width:215px; height:22px; background-color:#D3DAED; border:black 1px solid;border-radius: 5px; padding-left:10px; line-height:22px;}
.text_feld_area_small{font-size:12px;width:80px; height:22px; background-color:#D3DAED; border:black 1px solid; border-radius: 5px;padding-left:10px; line-height:22px;}
.text_feld_area_smaller{font-size:12px;width:40px; height:22px; background-color:#D3DAED; border:black 1px solid; border-radius: 5px;padding-left:10px; line-height:22px;}
.write_area{background-color:#D3DAED;border:black 1px solid;}
.bold{font-weight:bold;font-family: Arial, sans-serif;}
.mid_bg_add{background:url(../images/contnt_mid_img.png) left top repeat-x; border:#AFB0B0 1px solid; margin-left: 250px;width: 800px;}
.mid_bg_add_bigger{background:url(../images/contnt_mid_img.png) left top repeat-x; border:#AFB0B0 1px solid; margin-left: 5px;width: "100%";}
.mid_bg_add_booking{background:url(../images/contnt_mid_img.png) left top repeat-x; border:#AFB0B0 1px solid; margin-left:70px;width: "100%";}
.mid_bg_add_utilities{background:url(../images/contnt_mid_img.png) left top repeat-x; border:#AFB0B0 1px solid; margin-left:150px;width: "100%";}*/
.note{color:red;font-size:12px;font-style:italic;}
table tr.list_line_odd {background-color: #CCCCFF;}
table tr.list_line_even {background-color: #9999FF;}
.new_page_link a, .new_page_link a:link, .new_page_link a:visited{border:white 1px solid;color:#D6D9BA;text-decoration:none;padding-left:6px;padding-top:6px;padding-right:6px;padding-bottom:6px;background-color:#808963;font-size:18px;font-weight:bold;}
.new_page_link a:hover{text-decoration:none;color:#808963;background-color: #FF99FF;font-size:18px;font-weight:bold;}
.flashNoticeError {background-color: #F7ACBF;color: #E30940;text-align: center;}
.flashNoticeNoError {background-color: #AAFF7F;color: green;text-align: center;}
.paginate_ss{font-size:12px;margin-left:2px;margin-top:2px;margin-bottom:2px}
.paginate_ss a {color: #105CB6;text-decoration: none;border: 1px solid #9AAFE5;background-color:#CCFFCC;}
.paginate_ss a:hover, .paginate_ss a:focus {color: red;border-color: red}
.paginate_ss em.current{text-decoration: none;border: 1px solid #064B70;background-color:#33FF33;font-style:normal;}
.row_hover tr.datarow:hover{background-color: #ABDD91;opacity: .8;}
.mid_bg_add_utilities tr.datarow a{font-size:17px; color:black; font-weight:bold;text-decoration:none;}
.mid_bg_add_utilities tr.datarow a:hover, .mid_bg_add_utilities tr.datarow a:focus{color:yellow; background-color:black}
.sort_search_tag{font-size:15px;padding-left:15px}
.sort_search_tag a, .sort_search_tag a:visited{background-color:red;color:yellow;font-weight:bold;text-decoration:none;border:white 1px solid}
.sort_search_tag a:hover{background-color:yellow;color:red}
.sort_search_tag legend{color:#dfd;font-family:sans-serif;background:#141;padding:0.1em 0.5em;}